<h2><%= @user.username %> </h2> has commented on the following posts:

<% @user.comments.each do |comment| %>
  <%= link_to comment.post.title, post_path(post) %>
    <%= comment.content %>
<% end %>
